#
# Create:
# $ conda env create --file environment.yml
#
# Update:
# $ conda env update --file environment.yml --prune
#
# Activate:
# $ conda activate pyknos

name: pyknos

channels:
  - conda-forge
  - pytorch

dependencies:
  - cudatoolkit
  - jupyter
  - jupyterlab
  - matplotlib
  - notebook
  - numpy
  - pip
  - pip:
    - "nflows==0.13"
    - -e ".[dev]"
  - "python >= 3.6.0"
  - "pytorch >= 1.5.1"
  - tensorboard
  - tqdm
 
